{{define "title"}}
    Index
{{end}}

{{define "content"}}
    <div class="col-md-9 mx-auto">
        <div class="jumbotron">
            <h1 class="text-center">Blockchain</h1>
        </div>
    </div>
{{end}}
<!-- MIIBOwIBAAJBALigDLTLTIuMr8dn+IFYBq4PY80ocRDSGujRWT7uw9dmdpl3rJMyECsM59M6saxnoMGfQIlPmdGzu7laiwO8zkUCAwEAAQJBALNdmrqSwBzbY3LBCebvVB4KiZUpcx86YDZMHP5NDSrXk2BQwPnFMUHmtNIDZUPjKnYw+puxBcP5DuVi89ZCssECIQDKTvKQgG4Fwo3lbm3dyh2F4C0sXyj+foyypQ0e8c+LWQIhAOmfr8OyDOiEXjSPwbmuAIxfVkSm6FX4omuRwgbIbPjNAiEAv1pVDGCtsD0JQc1llbaqngogMCwB9lV0dzSuaGqHyGECIHY5rku9NdUQ709wFFwvlu1ybYiuYlLnUOJYz7R5BtRdAiBxNu3fbTGaDcw6qbHlwP9ZBE8GNoamsNl6N06vjllPJQ== -->

<!-- MEgCQQC4oAy0y0yLjK/HZ/iBWAauD2PNKHEQ0hro0Vk+7sPXZnaZd6yTMhArDOfTOrGsZ6DBn0CJT5nRs7u5WosDvM5FAgMBAAE= -->